@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=New+Amsterdam&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(244, 244, 244);
}
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px 70px;
  position: fixed;
  width: 100%;
  top: 0;
}
#nav-items {
  display: flex;
  gap: 20px;
  font-weight: bold;
}
#nav-items a {
  text-decoration: none;
  color: rgb(9, 65, 163);
}
#nav-items :hover {
  cursor: pointer;
  color: rgb(62, 128, 242);
  text-decoration: underline;
}

/* banner1 started */

#banner1 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0 40; */
  height: 100vh;
  margin: 10px;
}
#banner1txt {
  width: 45%;
  font-family: Nunito;
  padding: 10px;
}
#banner1txt h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #012970;
}

#banner1txt h3 {
  font-size: 1.5rem;
  font-weight: 400;
}
#banner1txt button {
  background-color: #4154f1;
  color: white;
  border: none;
  padding: 10px;
  height: 50px;
  width: 150px;
  border-radius: 5px;
}

/* banner2 started */

#banner2 {
  display: flex;
  justify-content: center;
  margin: 50px;
  background-color: rgb(244, 244, 244);
}
#banner2txt {
  width: 40%;
  background-color: rgb(243, 243, 254);
  padding: 35px;
}
#banner2img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* banner3 started */

#banner3 {
  padding: 20px 0;
}
#banner3txt {
  text-align: center;
}
#banner3txt p {
  color: #4154f1;
}
#banner3txt h1 {
  color: #012970;
  font-size: 3rem;
  margin-top: 0;
}
#banner3img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

/* banner4 started */
#banner4 {
  background-color: rgb(244, 244, 244);
  height: 100%;
  padding: 20px 0;
}
#banner4txt {
  text-align: center;
}
#banner4txt p {
  color: #4154f1;
}
#banner4txt h2 {
  color: #012970;
  font-size: 3rem;
  margin-top: 0;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px 1px;
}
#card1 {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 25%;
  justify-content: center;
  align-items: center;
  padding: 4em 2em;
  background-color: white;
  border-radius: 10px;
  gap: 10px;
  text-align: center;
}
.card h3 {
  font-size: x-large;
}
#cardimg1 {
  background-color: #90caf1;
  padding: 1.5rem;
  border-radius: 5px;
}
#card1:hover {
  background-color: #90caf1;
  #cardimg1 {
    background-color: #fff;
  }
}

/* card 2 */
#card2 {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 25%;
  justify-content: center;
  align-items: center;
  padding: 4em 2em;
  background-color: white;
  border-radius: 10px;
  gap: 10px;
  text-align: center;
}
#cardimg2 {
  background-color: #fab143;
  padding: 1.5rem;
  border-radius: 5px;
}
#card2:hover {
  background-color: orange;
  #cardimg2 {
    background-color: #fff;
  }
}

/* card 3 */

#card3 {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 25%;
  justify-content: center;
  align-items: center;
  padding: 4em 2em;
  background-color: white;
  border-radius: 10px;
  gap: 10px;
  text-align: center;
}
#cardimg3 {
  background-color: #5ee657;
  padding: 1.5rem;
  border-radius: 5px;
}
#card3:hover {
  background-color: rgb(125, 244, 125);
  #cardimg3 {
    background-color: #fff;
  }
}

/* card 4 */

#card4 {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 25%;
  justify-content: center;
  align-items: center;
  padding: 4em 2em;
  background-color: white;
  border-radius: 10px;
  gap: 10px;
  text-align: center;
}
#cardimg4 {
  background-color: rgb(235, 223, 223);
  padding: 1.5rem;
  border-radius: 5px;
}
#card4:hover {
  background-color: red;
  #cardimg4 {
    background-color: #fff;
  }
}

/* card 5 */

#card5 {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 25%;
  justify-content: center;
  align-items: center;
  padding: 4em 2em;
  background-color: white;
  border-radius: 10px;
  gap: 10px;
  text-align: center;
}
#cardimg5 {
  background-color: rgb(250, 189, 250);
  padding: 1.5rem;
  border-radius: 5px;
}
#card5:hover {
  background-color: purple;
  #cardimg5 {
    background-color: white;
  }
}

/* card 6 */

#card6 {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 25%;
  justify-content: center;
  align-items: center;
  padding: 4em 2em;
  background-color: white;
  border-radius: 10px;
  gap: 10px;
  text-align: center;
}
#cardimg6 {
  background-color: rgb(248, 218, 223);
  padding: 1.5rem;
  border-radius: 5px;
}
#card6:hover {
  background-color: pink;
  #cardimg6 {
    background-color: white;
  }
}

/* section 5 */
#section5 {
  padding: 20px;
  background-color: rgb(244, 244, 244);
  width: 100%;
}

#section5txt {
  text-align: center;
}

#section5txt p {
  font-size: large;
  color: #4154f1;
}

#section5txt h2 {
  font-size: 2rem;
  color: #012970;
}
#banner5 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.section5img {
  width: 50%;
}
#section5keys {
  width: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
}

.keys {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  width: 250px;
  border-radius: 5px;
  padding: 20px 40px;
  box-shadow: 1px 1px 10px gray;
  font-size: larger;
  font-weight: bold;
}
.keysign {
  background-color: aliceblue;
  padding: 5px 10px;
  border-radius: 5px;
}
.keys:hover {
  cursor: pointer;
  .keysign {
    background-color: #a4acf9;
    color: #fff;
  }
}

/* section 6 started  */

.headings {
  text-align: center;
}

.headings p {
  font-size: large;
  color: #4154f1;
}

.headings h2 {
  font-size: 2rem;
  margin-top: 0;
  color: #012970;
}
#section6 {
  padding: 20px;
  background-color: rgb(244, 244, 244);
  width: 100%;
}
#section6keys {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
#section6keys h4 {
  padding: 5px 20px;
}
#section6keys h4:hover {
  border: 1px solid blue;
  border-radius: 50px;
}
#section6imgs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
}
#section6img1 {
  height: 400px;
  width: 30%;
  background-image: url("https://www.expertizo.pk/assets/img/pinched.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
#section6img2 {
  height: 400px;
  width: 30%;
  background-image: url("https://www.expertizo.pk/assets/img/bistroChat.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
#section6img3 {
  height: 400px;
  width: 30%;
  background-image: url("https://www.expertizo.pk/assets/img/sesire.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
#section6img4 {
  height: 400px;
  width: 30%;
  background-image: url("https://www.expertizo.pk/assets/img/outlier-3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
#section6img5 {
  height: 400px;
  width: 30%;
  background-image: url("https://www.expertizo.pk/assets/img/stringr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
#section6img6 {
  height: 400px;
  width: 30%;
  background-image: url("https://www.expertizo.pk/assets/img/timeSeal.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.section6img:hover {
  .imgtxt {
    visibility: visible;
    background-color: white;
    opacity: 0.5;
    box-shadow: 1px 1px 5px grey;
    border-radius: 10px;
  }
}
.imgtxt {
  height: 100%;
  padding: 2rem;
  font-size: large;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  visibility: hidden;
}
